<div class="container">


<h1>Listing notices</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Creator</th>
      <th>Approval</th>
      <th>Release time</th>
      <th>Expiration time</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.title %></td>
        <td><%= notice.content %></td>
        <td><%= notice.creator_id %></td>
        <td><%= notice.approval_id %></td>
        <td><%= notice.release_time %></td>
        <td><%= notice.expiration_time %></td>
        <td><%= notice.status %></td>
        <td><%= link_to 'Show', notice %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notice', new_notice_path %>


</div>