= form_tag invest_buy_path(obj) do
   .panel{class: "panel-info"}
      .panel-heading
         %h4
         购买转让投资
      - if !current_user
         = render "invests/buy_new", obj:obj

      - else
         .panel-body
            %p.info
               = label :amount, '转让金额'
               = label :amounts, obj.amount
               - if flash[:notice]
                  .alert{ :class => "alert-notice"}
                     %button.close{ :data => { :dismiss => "alert" } }x
                     %strong
                     = flash[:notice]
                     %br
                     %br
         .panel-footer
            - if obj.onsale
               = submit_tag '购买', :class => "btn btn-primary"
            - else
               .btn.btn-primary 已转让