.model-box
  = form_tag invest_buy_path(inv) do
    .head
      %h2 转让信息
    .doned-left.doned-zyxx
      %ul
        %li
          %ul.dldd.doned-zyxxgm
            %li 购买价格
            %li
              ￥<span">
              = number_with_precision(inv.resell_price, precision: 0, delimiter: ',')
        %li
          %ul.dldd
            %li 预期收益
            - profit = inv.amount * obj.remain_repayment_period * obj.annual_rate.to_i / 12 / 100
            %li
              ￥<span">
              = number_with_precision(profit, precision: 0, delimiter: ',')
        %li
          %ul.dldd.dldd-input
            %li 验证码
            %li
              = show_simple_captcha(:label => "",:code_type => "numeric")
        %li.funds-ord
          %p
            %input.io.chek1{:type => "checkbox"} 我同意《
          .funds-ord1
            %a{:href => "#"} 沃银网定存宝V投资协议
            %p 》
        %li
          - if inv.onsale
            = submit_tag '购买', :class => "btn btn-primary"
          - else
            .btn.btn-primary 已转让