<%= form_for(@invest) do |f| %>
  <% if @invest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invest.errors.count, "error") %> prohibited this invest from being saved:</h2>

      <ul>
      <% @invest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jkbh %><br>
    <%= f.text_field :jkbh %>
  </div>
  <div class="field">
    <%= f.label :jybh %><br>
    <%= f.text_field :jybh %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
