%tr 
  %td
    %h4.pro-title 
      = dict[obj.invest_type]
      %span
        %a.a-inline{:href => invest_path(obj)}
          = obj.product.deposit_number
      %a{:href => "#"}
        %span.badge 转
    %p.safe-info
      %img{:src => image_url("main/indexmain7.png")}
      ="#{obj.product.guarantee}"
      担保
    
    
    
    
    
  %td
    #{obj.product.annual_rate}%
  %td
    ="￥#{obj.resell_price}"
  %td
    ="#{obj.product.remain_repayment_period}个月"
  %td
    %ul.yy-yszf
    
  %td
    折让率
    = obj.discount_rate
  %td.select-col
    %a.btn.btn-success{:href => invest_path(obj)} 立即投标









