%tr
  %td{:width => "200"}
    %ul.yy-zgy
      %li
        = dict[obj.invest_type]
        %span
          %a.a-inline{:href => invest_path(obj)}
            = obj.product.deposit_number
      %li
        %a{:href => "#"}
          %span.badge.yy-zhuan
            转
  %td
    #{obj.product.annual_rate}%
  %td
    ="￥#{obj.resell_price}"
  %td
    ="#{obj.product.remain_repayment_period}个月"
  %td
    %ul.yy-yszf
      %li
        %img{:src => image_url("main/indexmain7.png")}
      %li
        ="#{obj.product.guarantee}"
      %li
        担保
  %td
    %ul
      %li
        折让率
        = obj.discount_rate
  %td
    %ul.yy-time
      %li
        %a.btn.btn-info{:href => invest_path(obj)}
          立即投标









