%tr
  %td
    %p
      = dict[obj.invest_type]
      %a{:href => invest_path(obj)}
        ="#{obj.loan_number}"
  %td
    .text-center
      #{obj.product.annual_rate} %
  %td
    .text-center
      #{obj.product.repayment_period} 个月
  %td
    .text-center
      #{obj.amount}
  %td
    .text-center
      #{obj.amount}
  %td
    %a.btn.btn-info{:href => invest_path(obj)}
      购买









