%tr
  %td
    %span.badge
      = dict[obj.invest_type]
    %a{:href => invest_path(obj)}
      ="#{obj.loan_number}"
  %td
    #{obj.product.annual_rate} %
  %td
    #{obj.product.repayment_period} 个月
  %td
    #{obj.amount}
  %td
    #{obj.amount}
  %td
    %a.btn.btn-info{:href => invest_path(obj)}
      购买









