%tr
  %td
    %span.badge
      = dict[obj.invest_type]
    = link_to "#{obj.loan_number}", invest_path(obj.invest_number)
  %td
    #{obj.product.annual_rate} %
  %td
    #{obj.product.repayment_period} 个月
  %td
    #{obj.amount}
  %td
    #{obj.amount}
  %td
    %a.btn.btn-primary.btn-sm.index-item{:href => invest_path(obj.invest_number)}
      购买








