-#.detail_container
-#  .col-md-5
-#    .panel{class: "panel-info"}
-#      .panel-heading
-#        %h4 定存投资 #{obj.loan_number}
-#      .panel-body
-#        %p.info
-#          金额: #{obj.amount}
-#        %p.info
-#          年化收益率: #{obj.product.annual_rate}%
-#        %p.info
-#          剩余期限:
-#          #{obj.product.repayment_period}
-#          个月
-#      .panel-footer
-#        %p.actions
-#
-#  .col-md-1
-#  .col-md-4
-#    = render "invests/buy_form", obj: obj
-#
- obj = inv.product
.container.transfer
  .row
    .col-xs-8.product-info-area
      .model-box.panel.panel-default.zyzqxq-modelbox
        .head.panel-heading
          %h3.panel-title 长期借款：
        .panel-body
          .profit.row.zyzqxq
            %ul.col-xs-3.zyzqxq-message
              %li
                %a.btn.btn-default{:type => "button"} 购买信息
              %li
                %a.btn.btn-default{:type => "button"} 债权信息
            %ul.col-xs-3.pro-user
              %li.pro-user-bod
                %dl
                  %dt 购买价格
                  %dd
                    ￥
                    %span 889.71
              %li
                %dl
                  %dt 债权价值
                  %dd
                    ￥
                    %span 889.71
            %ul.col-xs-3.pro-user
              %li.pro-user-bod
                %dl
                  %dt 实际收益率
                  %dd
                    %span 12.69
                    \%
              %li
                %dl
                  %dt 年化收益率
                  %dd
                    %span 12.69
                    \%
            %ul.col-xs-3.pro-user.lastboul
              %li.pro-user-bod
                %dl
                  %dt 剩余期限
                  %dd
                    %span 10
                    个月
              %li
                %dl
                  %dt 原还款期限
                  %dd 24个月
          .zyzqxq-Purpose
            %strong 借款用途说明
            客户在常州市某民营企业工作，收入稳定，本借款用于资金周转。本借款于2013年7月16日通过捷越联合及安家世行审核并被推荐。
          .panel-footer
            .row
              .col-xs-6
                %span.tit 下次回款日期
                %span 2014.09.12
              .col-xs-6
                %span
                  %img{:src => image_url("main/Principal.jpg")}/
                100%本息保障

    .col-xs-4.modedqb
      .model-box.panel.panel-default.zyzqxq-modedqb
        - if inv.onsale
          = render "buy_form", inv:inv, obj:obj
        - else
          = render "sold_form", inv:inv, obj:obj
  .product-details
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active
        %a.tab-item{"data-toggle" => "tab", :href => "#detail", :role => "tab"} 产品详情
      %li
        %a.tab-item{"data-toggle" => "tab", :href => "#prshd", :role => "tab"}
          加入记录
          %span.badge 15
    .tab-content
      #detail.tab-pane.active
        %ul.row
          %li.col-xs-6
            .lab-val
              %ul.row.item
                %li.col-xs-12
                  %strong 个人信息
                %li.col-xs-4.boder-color 用户ID
                %li.col-xs-8.boder-color 683880
                %li.col-xs-4 性别
                %li.col-xs-8 男
                %li.col-xs-4.boder-color 年龄
                %li.col-xs-8.boder-color 32
                %li.col-xs-4 学历
                %li.col-xs-8 大专
                %li.col-xs-4.boder-color 是否结婚
                %li.col-xs-8.boder-color 已婚
                %li.col-xs-4 子女状况
                %li.col-xs-8 有
                %li.col-xs-4.boder-color 户籍城市
                %li.col-xs-8.boder-color 四川省南充市
                %li.col-xs-12
                  %strong 个人资产及征信信息
                %li.col-xs-4.boder-color 月收入水平
                %li.col-xs-8.boder-color 5000元-8000元
                %li.col-xs-4 房产
                %li.col-xs-8 无
                %li.col-xs-4.boder-color 车产
                %li.col-xs-8.boder-color 无
                %li.col-xs-4 其他信用贷款
                %li.col-xs-8 无
                %li.col-xs-4.boder-color 未销户信用卡
                %li.col-xs-8.boder-color 无
                %li.col-xs-4 信用卡额度使用率
                %li.col-xs-8 无信用卡
                %li.col-xs-12
                  %strong 工作信息
                %li.col-xs-4.boder-color 工作城市
                %li.col-xs-8.boder-color 四川省南充市
                %li.col-xs-4 现公司工作时间
                %li.col-xs-8 2012
                %li.col-xs-4.boder-color 公司行业
                %li.col-xs-8.boder-color 教育科研、医院、公共事业、金融业
                %li.col-xs-4 公司性质
                %li.col-xs-8 国营
                %li.col-xs-4.boder-color 岗位
                %li.col-xs-8.boder-color 其他基层服务岗位
          %li.col-xs-6
            .lab-val
              %ul.row.item
                %li.col-xs-12
                  %strong 担保机构
                %li.col-xs-4.boder-color 身份证
                %li.col-xs-4.boder-color 于2014.09.11
                %li.col-xs-4.boder-color.col-noborder 认证通过
                %li.col-xs-4 信用报告
                %li.col-xs-4 于2014.09.11
                %li.col-xs-4.col-noborder 认证通过
                %li.col-xs-4.boder-color 工作证明
                %li.col-xs-4.boder-color 于2014.09.11
                %li.col-xs-4.boder-color.col-noborder 认证通过
                %li.col-xs-4 收入证明
                %li.col-xs-4 于2014.09.11
                %li.col-xs-4.col-noborder 认证通过
              .col-xs-12.wyrecord
                %strong 沃银网借款记录
              %table.table.table-bordered
                %thead
                  %tr
                    %th 共计借入
                    %th 待还金额
                    %th 逾期金额
                    %th 严重逾期
                %tbody
                  %tr
                    %td ￥1,700,000.00
                    %td ￥1,700,000.00
                    %td ￥0.00
                    %td 0次
              %table.table.table-bordered
                %thead
                  %tr
                    %th.text-center 共计借入
                    %th.text-center 待还金额
                    %th.text-center 逾期金额
                    %th.text-center 严重逾期
                %tbody
                  %tr
                    %td.text-center 1笔
                    %td.text-center 1笔
                    %td.text-center 0笔
                    %td.text-center 0次
      #prshd.tab-pane
        .product-details-jrjl
          %table.table.table-striped.product-details-border
            %thead
              %tr
                %th 投资人
                %th 加入金额
                %th 加入时间
                %th 状态
            %tbody
              %tr
                %td 134***223
                %td 1222.0
                %td 2014-10-08 09:01
                %td
                  %span.glyphicon.glyphicon-ok
                  成功
              %tr
                %td 134***223
                %td 1222.0
                %td 2014-10-08 09:01
                %td
                  %span.glyphicon.glyphicon-ok
                  成功
              %tr
                %td 134***223
                %td 1222.0
                %td 2014-10-08 09:01
                %td
                  %span.glyphicon.glyphicon-ok
                  成功
              %tr
                %td 134***223
                %td 1222.0
                %td 2014-10-08 09:01
                %td
                  %span.glyphicon.glyphicon-ok
                  成功
              %tr
                %td 134***223
                %td 1222.0
                %td 2014-10-08 09:01
                %td
                  %span.glyphicon.glyphicon-ok
                  成功
          .text-center
            %ul.pagination
              %li
                %a{:href => "#"} 《上一页
              %li
                %a{:href => "#"} 1
              %li
                %a{:href => "#"} 2
              %li
                %a{:href => "#"} 3
              %li
                %a{:href => "#"} 下一页》n-ok>






>