<table class="table table-hover">
  <thead>
    <tr>
      <th>借款用途</th>
      <th>信用等级</th>
      <th>年化利率</th>
      <th>金额</th>
			<th>期限</th>
			<th>进度</th>
			<th></th>
    </tr>
  </thead>

  <tbody>
    <% Invest.limit(5).each do |invest| %>
      <tr>
        <td><%= invest.jkyt %></td>
        <td><%= invest.xydj %></td>
				<td><%= invest.nhll %></td>
			  <td><%= invest.jkje %></td>
				<td><%= invest.hkqx %></td>
				<td>0%</td>
				<td>button</td>
      </tr>
    <% end %>
  </tbody>
</table>

