<p id="notice"><%= notice %></p>

<p>
  <strong>Jkbh:</strong>
  <%= @invest.jkbh %>
</p>

<p>
  <strong>Jybh:</strong>
  <%= @invest.jybh %>
</p>

<%= link_to 'Edit', edit_invest_path(@invest) %> |
<%= link_to 'Back', invests_path %>
