-#.container
-#  .invest_banner
-#    .invest_title
-#      %a.btn{:href=> onsale_invests_path} 返回
-#      投资转让
-#      = render "shared/balance"
-#  = render 'invests/onsale_item_detail', obj:@invest
-#
-#.container
-#  .invest_banner.row
-#    .invest_title
-#      %a.btn{:href=> onsale_invests_path} 返回
-#      投资转让
-#    .invest_title.pull-right
-#      = render "shared/balance"
-#  - @invests = @invest.product.invests
-#  = render 'invests/onsale_item_detail', obj:@invest, invests:@invests
- content_for :javascript_includes do
  = javascript_include_tag "showproduct.js"
- invests = @invest.product.invests
.auxiliary-info
  .container
    .row
      .col-md-8
        %h1.page-header 投资转让
      .col-md-4
        .fun-area
          %a.btn.btn-default.go-back{:href=> onsale_invests_path} 返回转让专区
          = render "shared/balance"
.container
  #flash-message.pull-right
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}", :class => "flash_#{name} flash_all"
= render 'invests/onsale_item_detail', inv:@invest, invests:invests