- content_for :javascript_includes do
  = javascript_include_tag "console.js"
.console-header-info
  .fun-area.pull-right
    %a.btn.btn-default{:href => securecenter_path }返回
  %h1.page-header 更改邮箱
%p 绑定邮箱有利于我们及时通知您在有利网的交易情况以及最新动态。

.securecenter-form-area
  .form-horizontal
  = form_tag securecenter_secure_new_email_path do
    .form-group
      %label.col-sm-2.control-label 邮箱
      .col-sm-10
        = text_field_tag :new_email, '',  class: "form-control"
    .form-group
      %label.col-sm-2.control-label 支付密码
      .col-sm-10
        = text_field_tag :payment_pass, '',  class: "form-control"
    - if flash[:notice]
      .form-group
        .col-sm-offset-2.col-sm-10
          .alert.alert-danger
            %button.close{ :data => { :dismiss => "alert" } }
            = flash[:notice]
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-primary{:type => "submit"}
          下一步



