- content_for :javascript_includes do
  = javascript_include_tag "console.js"
.console-header-info
  .fun-area.pull-right
    %a.btn.btn-default{:href => securecenter_path }返回
  %h1.page-header 更换绑定手机

.securecenter-form-area
  - if @verification
    .form-horizontal
      .form-group
        %label.col-sm-2.control-label 当前手机号码是：
        .col-sm-10
          = @verification.phone

      .form-group
        %label.col-sm-2.control-label 验证码
        .col-sm-10
          %input{:type => "text", :class => "form-control"}
          %button.btn.btn-primary 获取验证码

      .form-group
        .col-sm-offset-2.col-sm-10
          %a.btn.btn-primary 下一步

  - else
    = form_tag securecenter_secure_change_phone_path do
      .form-horizontal
        .form-group
          = label :number, '手机号码', class: "col-sm-2 control-label "
          .col-sm-10
            = text_field_tag :phone_number, '',  class: "form-control"
        .form-group 
          = label :securenumber, '验证码', class: "col-sm-2 control-label "
          .col-sm-10
            .input-group
              .input-group-btn
                .button.btn.btn-success#confirmphone{} 获取验证码
              = text_field_tag :secure_number, '',  class: "form-control"
              .input-group-btn
                .button.btn.btn-default#jsontest{} 测试后台
        .form-group
          = label :paypass, '支付密码', class: "col-sm-2 control-label "
          .col-sm-10
            = text_field_tag :pay_password, '',  class: "form-control"
        - if flash[:notice]
          .form-group
            .col-sm-offset-2.col-sm-10
              .alert.alert-danger
                %button.close{ :data => { :dismiss => "alert" } }x
                = flash[:notice]
        .form-group
          .col-sm-offset-2.col-sm-10
            = submit_tag '绑定', :class => "btn btn-default"