.console-header-info
  .fun-area.pull-right
    %a.btn.btn-default{:href => securecenter_path }返回
  %h1.page-header 修改密保
- questions = @verify.safe_questions
.securecenter-form-area
  .form-horizontal
    = form_for(:verification, :url => securecenter_secure_change_question_path, :html => { :method => :post}) do |f|
      .form-group
        %label.col-sm-2.control-label 选择密保问题
        .col-sm-10
          = select_tag(:safe_question, options_for_select(questions), :class => "form-control")
      .form-group
        %label.col-sm-2.control-label 回答
        .col-sm-10
          = text_field_tag :answer, '',  class: "form-control", type: "text"

      .form-group
        %label.col-sm-2.control-label 支付密码
        .col-sm-10
          = text_field_tag :payment_pass, '',  class: "form-control", type: "password"
          = @verify.email
      - if flash[:notice]
        .form-group
          .col-sm-offset-2.col-sm-10
            .alert.alert-danger
              %button.close{ :data => { :dismiss => "alert" } }
                X
              = flash[:notice]
      .form-group
        .col-sm-offset-2.col-sm-10
          %button.btn.btn-primary{:type => "sumbit"}
            修改
