- content_for :javascript_includes do
  = javascript_include_tag "password.js"
#verify_code{:style => "display:none;"}
  =@verify_code
.sign-page
  .container
    .panel.panel-default
      .panel-heading
        .panel-title
          %h4 找回密码
      .panel-body.find-password-lbody.find-password-select
        .text-center.reg-steps
          %img{:src => image_url("main/find-password2.jpg")}
        .findpassword-user
          您正在为账户
          %span.light-org
            =@username
          重置登录密码，请选择找回方式：
        .row.findpassword-select
          .col-xs-9
            %strong 通过手机验证码
            %p
              = form_for(:user, :url => reset_pass_sms_path, :html => { :method => :post}) do |f|
                = hidden_field_tag :mobile, @mobile
                = text_field_tag :verify_code, "", class: "form-control", autocomplete: "off", placeholder: "输入收到的验证码"
                %button.btn.btn-success{:type => "submit"}
                  验证
          .col-xs-3
            = form_for(:user, :url => sendsms_path, :html => { :method => :post}) do |f|
              = hidden_field_tag :username, @username
              %button.btn.btn-warning#phonebutton{:href => "#", :role => "button", :disabled => true}
                重发
                %span#timer
.security-identity
  .container.security-identity-container
    %ul.row.list-unstyled
      %li.col-xs-3.list-unstyled-borde
        %dl.text-center
          %dt
            %img{:src => image_url("foot/foot1.jpg")}/
          %dd 50元即可加入
      %li.col-xs-3.list-unstyled-borde
        %dl.text-center
          %dt
            %img{:src => image_url("foot/foot1.jpg")}/
          %dd 100%本息担保
      %li.col-xs-3.list-unstyled-borde
        %dl.text-center
          %dt
            %img{:src => image_url("foot/foot1.jpg")}/
          %dd 随时赎回投资
      %li.col-xs-3
        %dl.text-center
          %dt
            %img{:src => image_url("foot/foot1.jpg")}/
          %dd 服务完全免费

.footer
  .footnav-bj.footnav-findpasswordbj
    .container
      .row
        .col-xs-7.footer-address
          %ul
            %li
              %dl
                %dt 服务热线 (9-18:00)
                %dd 400-890-3980
            %li
              %span 客服邮箱： support@wooul.com
              %span 新浪微博：@沃银网
        .col-xs-5.footer-address
          %ul
            %li
              %a{:href => "/"}
                %img{:src => image_url("foot/wooul-logo-grey.png")}/
            %li Copyright ©2014 深圳市沃银金融服务有限公司， All Rights Reserved