.sign-page
  .container
    .panel.panel-default
      .panel-heading
        .panel-title
          %h4 找回密码
      .panel-body.find-password-lbody.find-password-select
        .text-center.reg-steps
          %img{:src => image_url("main/find-password2.jpg")}
        .findpassword-user
          您正在为账户
          %span.light-org
            =@username
          重置登录密码，请选择找回方式：
        .row.findpassword-select
          - if @mobile.nil?
            .col-xs-9
              %strong 通过手机验证码
              %p 您沒有绑定手机, 无法使用手机找回密码
            .col-xs-3
              %button.btn.btn-default{:type => "button"} 选项无效
          - else
            .col-xs-9
              %strong 通过手机验证码（推荐）
              %p
                如果您的
                = @mobile[0, 3] + "***" + @mobile[-4, 4]
                手机还在正常使用，请选择此方式
            .col-xs-3
              = form_for(:user, :url => sendsms_path, :html => { :method => :post}) do |f|
                = hidden_field_tag :username, @username
                %button.btn.btn-primary{:type => "submit"} 立即找回
        .row.findpassword-select
          - if @email.nil?
            .col-xs-9
              %strong 通过电子邮箱
              %p 您沒有注册邮箱, 无法使用邮箱找回密码
            .col-xs-3
              %button.btn.btn-default{:type => "button"} 选项无效
          - else
            .col-xs-9
              %strong
                通过电子邮箱
              %p 如果您的注册邮箱还在正常使用，请选择此方式
            .col-xs-3
              = form_for(:user, :url => sendemail_path(), :html => { :method => :post}) do |f|
                = hidden_field_tag :username, @username
                %button.btn.btn-primary{:type => "submit"} 立即找回
        .row.findpassword-select
          .col-xs-9
            %strong 通过安全保护问题
            %p 如果您记得预留的安全保护问题，请选择此方式
          .col-xs-3
            = form_for(:user, :url => reset_pass_question_path, :html => { :method => :post}) do |f|
              = hidden_field_tag :username, @username
              %button.btn.btn-primary{:type => "submit"} 立即找回

.security-identity
  .container.security-identity-container
    %ul.row.list-unstyled
      %li.col-xs-3.list-unstyled-borde
        %dl.text-center
          %dt
            %img{:src => image_url("foot/foot1.jpg")}/
          %dd 50元即可加入
      %li.col-xs-3.list-unstyled-borde
        %dl.text-center
          %dt
            %img{:src => image_url("foot/foot1.jpg")}/
          %dd 100%本息担保
      %li.col-xs-3.list-unstyled-borde
        %dl.text-center
          %dt
            %img{:src => image_url("foot/foot1.jpg")}/
          %dd 随时赎回投资
      %li.col-xs-3
        %dl.text-center
          %dt
            %img{:src => image_url("foot/foot1.jpg")}/
          %dd 服务完全免费

.footer
  .footnav-bj.footnav-findpasswordbj
    .container
      .row
        .col-xs-7.footer-address
          %ul
            %li
              %dl
                %dt 服务热线 (9-18:00)
                %dd 400-890-3980
            %li
              %span 客服邮箱： support@wooul.com
              %span 新浪微博：@沃银网
        .col-xs-5.footer-address
          %ul
            %li
              %a{:href => "/"}
                %img{:src => image_url("foot/wooul-logo-grey.png")}/
            %li Copyright ©2014 深圳市沃银金融服务有限公司， All Rights Reserved