.col-xs-4
  .item-list.panel.panel-default.fixed-invest
    .panel-heading
      .panel-title
        %a{:href => "#"}
          %span.badge 定
        %span
          = obj.deposit_number
    .panel-body
      .pro-info.row
        %dl.col-xs-6.yidld-info.text-center
          %dt #{obj.annual_rate} %
          %dd 年化收益率
        %dl.col-xs-6.term-info.text-center
          %dt #{obj.repayment_period}个月
          %dd 借款期限
      %p.safe-info.text-center
        %span
          %img{:src => image_url("main/Principal.jpg")}/
        100%本息保障
      .progress-area
        .row
          .col-xs-7
            %p.progress-info
              剩余金额：
              %strong #{obj.free_invest_amount}
          .col-xs-5
            %p.progress-info
              当前进度：
              %strong #{obj.current_progress}%
        .progress.progress-striped.active
          .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100",  "aria-valuenow" => "30", :role => "progressbar", :style => "width: #{obj.current_progress}%;"}
            %span.sr-only
              23 Complete
        %p.number-info.text-center
          %strong #{obj.owner_num}
          人次已加入
    .panel-footer
      %a.btn.btn-success.btn-block{:href => product_detail_path("fixed",obj)} 查看详情
    %a.link-block{:href => product_detail_path("fixed",obj)} 查看详情