.container.transfer
  .row
    .col-md-8.product-info-area
      .model-box.panel.panel-default
        .head.panel-heading
          %h3.panel-title
            = obj.product_name
            = obj.deposit_number
        .panel-body
          .profit.row
            %dl.col-md-6.block-area
              %dt 总额度
              %dd
                %ins ￥
                %em
                  = number_with_precision(obj.total_amount, precision: 0, delimiter: ',')
            %dl.col-md-3.block-area
              %dt 年化收益率
              %dd
                %em
                  = obj.annual_rate.to_i
                %span
                  - num = obj.annual_rate.to_s.split(".")
                  - frac = num.count > 1 ? num[1].to_s : 0
                  = "."
                  = frac
                ="%"
                -#= succeed "%" do
                -#  %span .00
            %dl.col-md-3.block-area
              %dt 投资期限
              %dd
                %em
                  = obj.repayment_period
                个月
          .working-day 定存宝 每工作日 10:30、14:30、20:00 更新产品
        .panel-footer.expl
          .row
            .col-md-6
              .row
                - current_progress = (obj.total_amount - obj.free_invest_amount) * 100 / obj.total_amount
                .col-md-6
                  .progress
                    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0",:role => "progressbar", :style => "width: #{current_progress}%;"}
                .col-md-6
                  .progress-number
                    %span<
                      当前进度
                      = "#{number_with_precision(current_progress , precision: 2)}%"

                  -#  %b
                  -#    当前进度
                  -#    = "#{current_progress}%"
            .col-md-3 
              发布时间
              = obj.created_at.strftime("%Y-%m-%d")
            .col-md-3 
              %img{:src => image_url("main/wytz5.png")}
                %p
                  ="100%本息保障"
    .col-md-4.modedqb
      = render "products/buyform", obj:obj








      -#= form_tag product_join_path(obj.product_type,obj) do
      -#  .model-box.panel.panel-default
      -#    .head.panel-heading
      -#      %h3.panel-title
      -#        投资金额
      -#        %span.text-right 可投 0 元
      -#    .doned-left.panel-body
      -#      %span 剩余可投资金额：0.00元
      -#
      -#    .panel-footer
      -#      - if current_user
      -#        %button.btn.btn-primary.btn-lg.btn-block#test{:type => "submit"}
      -#          = obj.current_operation
      -#      - else
      -#        %a.btn.btn-primary.btn-lg.btn-block{:href => new_user_session_path} 还款中

  .product-details
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active
        %a.tab-item{"data-toggle" => "tab", :href => "#detail", :role => "tab"} 产品详情
      %li
        %a.tab-item{"data-toggle" => "tab", :href => "#prshd", :role => "tab"}
          加入记录
          %span.badge
            = invests.size
    / Tab panes
    .tab-content
      #detail.tab-pane.active
        %ul.row
          %li.col-md-6
            .lab-val
              %ul.row.items
                %li.col-md-12
                  %strong 个人信息
                %li.col-md-4  用户ID
                %li.col-md-8  683880
                %li.col-md-4  性别
                %li.col-md-8  男
                %li.col-md-4  年龄
                %li.col-md-8  32
                %li.col-md-4  学历
                %li.col-md-8  大专
                %li.col-md-4  是否结婚
                %li.col-md-8  已婚
                %li.col-md-4  子女状况
                %li.col-md-8  有
                %li.col-md-4  户籍城市
                %li.col-md-8  四川省南充市

              %ul.row.items
                %li.col-md-12
                  %strong 个人资产及征信信息
                %li.col-md-4  月收入水平
                %li.col-md-8  5000元-8000元
                %li.col-md-4  房产
                %li.col-md-8  无
                %li.col-md-4  车产
                %li.col-md-8  无
                %li.col-md-4  其他信用贷款
                %li.col-md-8  无
                %li.col-md-4  未销户信用卡
                %li.col-md-8  无
                %li.col-md-4  信用卡额度使用率
                %li.col-md-8  无信用卡

              %ul.row
                %li.col-md-12
                  %strong 工作信息
                %li.col-md-4  工作城市
                %li.col-md-8  四川省南充市
                %li.col-md-4  现公司工作时间
                %li.col-md-8  2012
                %li.col-md-4  公司行业
                %li.col-md-8  教育科研、医院、公共事业、金融业
                %li.col-md-4  公司性质
                %li.col-md-8  国营
                %li.col-md-4  岗位
                %li.col-md-8  其他基层服务岗位

          %li.col-md-6
            .lab-val.trade-table.ycp-items
              %table.table.trade-table-th
                %strong.text-left 担保机构
                %tbody
                  %tr
                    %td
                    %td 身份证
                    %td 于2014.09.11
                    %td
                      %span.glyphicon.glyphicon-ok>
                      认证通过
                  %tr
                    %td
                    %td 信用报告
                    %td 于2014.09.11
                    %td
                      %span.glyphicon.glyphicon-ok>
                      认证通过
                  %tr
                    %td
                    %td 工作证明
                    %td 于2014.09.11
                    %td
                      %span.glyphicon.glyphicon-ok>
                      认证通过
                  %tr
                    %td
                      .r3  100%本息担保
                    %td 收入证明
                    %td 于2014.09.11
                    %td
                      %span.glyphicon.glyphicon-ok>
                      认证通过
              %strong 有利网借款记录
              %table.table.table-bordered.trade-table-th
                %thead
                  %tr
                    %th 共计借入
                    %th 待还金额
                    %th 逾期金额
                    %th 严重逾期
                %tbody
                  %tr
                    %td ￥1,700,000.00
                    %td ￥1,729,749.98
                    %td ￥0.00
                    %td 0次

              %table.table.table-bordered.trade-table-th
                %tbody
                  %tr
                    %th 发布借款笔数
                    %th 成功借款笔数
                    %th 还清笔数
                    %th 逾期次数

                  %tr
                    %td 1笔
                    %td 1笔
                    %td 0笔
                    %td 0次


      #prshd.tab-pane
        %table.table.product-details-jrjl.table-striped.product-details-border
          %thead
            %tr
              %th 投资人
              %th 加入金额
              %th 加入时间
              %th 状态
          %tbody
            - invests.each do |invest|
              %tr
                %td= "134"+ "***" + "223"
                -#%td= invest.user_info.show_id[0, 2] + "***" + invest.user_info.show_id[-2, 2]
                %td= invest.amount
                %td= invest.created_at.strftime("%Y-%m-%d %H:%M")
                %td
                  %span.glyphicon.glyphicon-ok>
                    成功


