
.container.transfer
  .row
    .col-xs-8.product-info-area
      = render 'products/product_info', obj:obj
    .col-xs-4.modedqb
      - if obj.current_stage == "融资中"
        = form_tag product_join_path(obj.product_type,obj) do
          .model-box.panel.panel-default
            .head.panel-heading
              %h3.panel-title
                投资金额
                %span.text-right 单笔最多可投100,000元
            .doned.panel-body
              .input-group
                %input#product_value.form-control{:autocomplete => "off", :name => "product_value", :type => "text", :value => ""}
                  %span.input-group-addon 元
              %dl.dl-horizontal
                %dt 收益处理方式：
                %dd 收益返还
                %dt 到期总收益：
                %dd
                  #profit_rate
                    = number_with_precision(obj.annual_rate / 12 / 100 * obj.repayment_period , precision: 2)
                  ￥
                  #profit_value
                    0.00
              .row
                .col-xs-3.change-codecol  验证码：
                .col-xs-9.change-codecol9
                  = show_simple_captcha(:label => "",:code_type => "numeric")
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    我同意
                %span
                  %a{:href => "#"} 《沃银网定存宝V投资协议》
            .panel-footer
              - if current_user
                %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"}
                  = obj.current_operation
              - else
                %button.btn.btn-primary.btn-lg.btn-block{:href => new_user_session_path}
                  = obj.current_operation
      - else
        = render 'products/showform', obj: obj
  .product-details
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active
        %a.tab-item{"data-toggle" => "tab", :href => "#detail", :role => "tab"} 产品详情
      %li
        %a.tab-item{"data-toggle" => "tab", :href => "#prshd", :role => "tab"}
          加入记录
          %span.badge
            = invests.size
    .tab-content
      #detail.tab-pane.active
        = render 'fixed_deposits/product_info', invs: invests, obj:obj
      #prshd.tab-pane
        .product-details-jrjl
          - if invests.size > 0
            = render 'products/investors', invs: invests
          - else
            = render 'products/empty'


