.dcb-dt.col-lg-4
  %ul
    %li.dcb-dt1
      %img{:src =>"images/main/indexmain5.png"}
        %p
          定存宝
          %span
            = obj.deposit_number
    %li.dcb-dt2
      #{obj.owner_num}人次已经加入
    %li.dcb-dt3
      %p
        %span
          #{obj.annual_rate}
          ="% / #{obj.repayment_period}个月"
    %li.dcb-dt4
      年化收益率&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期限
    %li.dcb-dt5
      %img{:src => "images/main/indexmain6.png"}
      %p
        100%本息保障
    %li.dcb-dt6
      - current_progress = (obj.total_amount - obj.free_invest_amount) * 100 / obj.total_amount
      %p.dcb-dt6-1
        当前进度
      .progress.dcb-dt6-2
        .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => current_progress, "aria-valuenow" => "30", :role => "progressbar", :style => "width: #{current_progress}%;"}
          %span.sr-only
            23 Complete
      %span.dcb-dt6-3
        #{number_with_precision current_progress, precision: 0}%
    %li.dcb-dt7
      %p
        剩余金额
        %span
          ="￥#{obj.free_invest_amount}"
    %li.dcb-dt8
      %a.btn.btn-default.dcb-dt8-b{:href => product_detail_path("fixed",obj)} 查看详情



