.detail_container
  .col-md-5
    .panel{class: "panel-info"}
      .panel-heading
        %h4 定存投资 #{obj.deposit_number}
      .panel-body
        %p.info
          总额度: #{obj.total_amount}
        %p.info
          年化收益率: #{obj.annual_rate}%
        %p.info
          投资期限:
          #{obj.repayment_period}
          个月
      .panel-footer
        %p.actions
          - current_progress = (obj.total_amount - obj.free_invest_amount) * 100 / obj.total_amount
          当前进度：#{number_with_precision current_progress, precision: 2}%
          .progress
            .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => current_progress, "aria-valuenow" => "30", :role => "progressbar", :style => "width: #{current_progress}%;"}
              %span.sr-only 60% Complete


          %div 剩余金额：#{obj.free_invest_amount}
          - if current_progress >= 100
            %div.action= link_to '已满', '#'
          - else
            %div.action= link_to '开放中', '#'

  .col-md-1
  .col-md-4
    - if Time.now > obj.join_date
      = render "fixed_deposits/join_form", obj: obj
    - else
      = render "fixed_deposits/order_form", obj: obj

.detail_container
  .col-md-12
    %ul.nav.nav-tabs{:role=>"tablist"}
      %li
        %a{:href=>"detail", :role=>"tab", 'data-toggle'=>"tab"}详细信息
      %li.active
        %a{:href=>"ownerlist", :role=>"tab", 'data-toggle'=>"tab"}购买列表

    %div.tab-content
      %div.tab-pane{:id=>"detail"}
        Helloworld
      %div.tab-pane.active{:id=>"ownerlist"}
        %table.table
          %tr
            %th 投资人
            %th 加入金额
            %th 加入时间
            %th 状态
          - if current_user
            - @invests.each do |invest|
              %tr
                %td= invest.user_info.show_id[0, 2] + "***" + invest.user_info.show_id[-2, 2]
                %td= invest.amount
                %td= invest.created_at
                %td  成功




