%div.list_item
  .table_cell.col1
    = link_to "#{obj.deposit_number}", fixed_deposit_path(obj)
  .table_cell.col2
    #{obj.annual_rate} %
  .table_cell.col3
    #{obj.repayment_period} 个月
  .table_cell.col4
    #{obj.repayment_period}
  .table_cell.col5
    - progess = (obj.total_amount - obj.free_invest_amount) *100 / obj.total_amount
    #{number_with_precision progess, precision: 2}%
  .table_cell.col6
    - if Time.now < obj.join_date
      -if orders.any?{|order| order.product_id == obj.id and order.product_type == "fixed"}
        %button.btn.btn-default 排队中
      -else
        = link_to "预约", usercenter_console_create_order_path(obj)
    - else
      - if invests.any?{|invest| invest.loan_number == obj.deposit_number}
        %button.btn.btn-default 已加入
      - else
        = link_to "加入", fixed_deposit_path(obj)

