%footer#footer
  .auxiliary-information
    .container
      .row
        .col-md-8
          %ul.foot-link.list-inline
            %li= link_to '关于我们', '#'
            %li= link_to '法律法规', '#'
            %li= link_to '新手指引', '#'
            %li= link_to '帮助中心', '#'
            %li= link_to '网站地图', '#'
            %li= link_to '关注我们', '#'
        .col-md-4
  .footer-copyright
    .container
      %p.text-muted.credit Copyright © 2013 深圳市沃银金融服务有限公司 保留所有权利
