%ul.nav.navbar-nav.sign-nav
  - if current_user
    = javascript_include_tag "showmessage.js"
    %li= link_to "欢迎 #{current_user.username}!", usercenter_console_overview_path
    %li= link_to "消息(#{current_user.user_info.message_num})", usercenter_console_message_path
    %li= link_to "安全中心", securecenter_path
    %li= link_to '退出登录', destroy_user_session_path, method: :delete
  - else
    %li
      %a{:href => new_user_registration_path} 免费注册
    %li
      %a{:href => new_user_session_path} 已有账号？