.accout-info.alert.alert-info
  您好,
  = current_user.username

  - verify = current_user.user_info.verification
  - current_level= verify.securyscore - 1
  - secure_progress = verify.sec_progress
  - level = ["低","中","高"]
  - status_dict = {"verified" => "btn-success", "confirming" =>"btn-default"}
  .accout_ye
    我的余额
    %strong
      ￥
      = render "shared/usercenter_balance"
    %a{:href =>usercenter_console_charge_bank_path} 充值

.accout_ts
  %p
    %a.btn.btn-small{:href=> securecenter_secure_change_phone_path, :class=> "#{status_dict[verify.phonestatus]}"}
      %span.glyphicon.glyphicon-phone
    %a.btn.btn-small{:href=>securecenter_secure_real_name_path, :class=> "#{status_dict[verify.idstatus]}"}
      %span.glyphicon.glyphicon-user
    %a.btn.btn-small{:href=>securecenter_secure_confirm_path, :class=> "#{status_dict[verify.passwordstatus]}"}
      %span.glyphicon.glyphicon-asterisk
  .accout-progress
    安全等级
    %span
      = level[current_level]


  .row
    .col-xs-8
      .progress.progress-striped.active
        .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width:#{secure_progress}%"}
          %span.sr-only 45% Complete
    .col-xs-4.wrapperbode
      %a{:href => "#"}
        - if current_level < 2
          [提升]
      