
.row.homeassist
  .col-md-3
    %span.glyphicon.glyphicon-book
    %h2 沃银网能做什么
    %p 
      沃银网提供安全、有担保、高收益的互联网理财服务。
      = link_to '了解更多>>', '#'
  .col-md-3
    %span.glyphicon.glyphicon-compressed
    %h2 最安全的网上理财
    %p
      沃银网承诺保障您投入的每一分理财金。多重保障方式让您理财更安心。
      = link_to '了解更多>>', '#'
  .col-md-3
    %span.glyphicon.glyphicon-info-sign
    %h2 新手指南
    %p
      一分钟轻松了解最新的理财方式，原来投资理财也可以如此简单。
      = link_to '了解更多>>', '#'
  .col-md-3
    %h2 官方公告
    = link_to '更多', notices_path
    = render 'notices/top3'

.row
  %section.col-md-8.deposits-area
    %header
      %h2 定存投资
      = link_to '更多', fixed_deposits_path
    = render 'fixed_deposits/top_list'
  %section.col-md-4.financial-tools-area
    .list-group
      %a.list-group-item.active{:href => "#"}
        %h4.list-group-item-heading 收益计算器
        %p.list-group-item-text 算算能赚多少钱
      %a.list-group-item{:href => "#"}
        %h4.list-group-item-heading 自动投资
        %p.list-group-item-text 省心省力快速投资
      %a.list-group-item{:href => "#"}
        %h4.list-group-item-heading CPI跟踪器
        %p.list-group-item-text 齐心齐力跑赢CPI
      %a.list-group-item{:href => "#"}
        %h4.list-group-item-heading 身价计算器
        %p.list-group-item-text 你也能成为大富翁
      %a.list-group-item{:href => "#"}
        %h4.list-group-item-heading 收益对比器
        %p.list-group-item-text 好不好比比就知道

%section.monthly-interest
  %header
    %h2 月息投资
    = link_to '查看更多', invests_path
    %p.info
      自主选择投资项目，每月获得等额本息回款；
      %strong 500元
      即可
      %br/
      获得理财乐趣，随时可赎回。
      %br/
      工作日
      %span.text-danger 10:30、14:30、17:30、20:00
      发布，周末随机。
  = render 'invests/top_list'
