%h2 最新公告
= link_to '更多', notices_path
= render 'notices/top3'

%hr/
.login-div
  = link_to "新用户注册", new_user_registration_path
  = link_to "已有账户?", new_user_session_path


%hr/
%h2 定存投资
= link_to '更多', fixed_deposits_path
= render 'fixed_deposits/top_list'

%hr/
%h2 月息投资
= link_to '查看更多', invests_path
= render 'invests/top_list'
