.abtitle-sub
  %h2 借款协议
.userredemption
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#fixed", :role => "tab"}
        定期宝
        %span.badge
          = @fixed_deposits.size
    %li{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#month", :role => "tab"}
        月月盈
        %span.badge
          = @month_deposits.size
  .tab-content
    #fixed.tab-pane.active{:role => "tabpanel"}
      .systemnews.investTabs1
        %table.table
          %thead
            %tr
              %td{:style => "width:180px"} 名称
              %td{:style => "width:200px"} 借款人
              %td{:style => "width:200px"} 金额(￥)
              %td{:style => "width:150px"} 购买笔数
              %td{:style => "width:150px"} 担保
              %td{:style => "width:150px"} 项目协议
          %tbody
            - @fixed_deposits.each do |f|
              %tr
                %td
                  = "定存宝#{f.loan_number}"
                %td
                  沃银金融
                %td.light-org
                  = f.amount
                %td
                  1
                %td
                  = f.product.guarantee
                %td
                  %a{:href => agreement_path({:id => f.id}), :target=>'blank'}
                    协议内容
    #month.tab-pane{:role => "tabpanel"}
      .systemnews.investTabs1
        %table.table
          %thead
            %tr
              %td{:style => "width:180px"} 名称
              %td{:style => "width:200px"} 借款人
              %td{:style => "width:200px"} 金额(￥)
              %td{:style => "width:150px"} 购买笔数
              %td{:style => "width:150px"} 担保
              %td{:style => "width:150px"} 项目协议
          %tbody
            - @month_deposits.each do |f|
              %tr
                %td
                  = "定存宝#{f.loan_number}"
                %td
                  沃银金融
                %td.light-org
                  = f.amount
                %td
                  1
                %td
                  = f.product.guarantee
                %td
                  %a{:href => agreement_path({:id => f.id}), :target=>'blank'}
                    协议内容
