.abtitle-sub
  %h2 充值提现
.filter-box.trade-filter.row.cashvalue
  %ul.col-xs-7
    %li
      %dl.dl-horizontal.recharge-entry1
        %dt 账户余额
        %dd.light-org
          ￥
          = current_user.user_info.account.balance
    %li
      %dl.dl-horizontal.recharge-entry1.recharge-entry2
        %dt
          可用余额
          %span.badge ?
        %dd
          ￥
          = current_user.user_info.account.balance
  %ul.col-xs-5.cashvalue-btn
    %li.col-xs-5.col-xs-offset-1
      %a.btn.btn-primary.btn-lg.btn-block{:href => usercenter_console_charge_bank_path} 充值
    %li.col-xs-5
      %a.btn.btn-success.btn-lg.btn-block{:href => "#"} 提现
.filter-box.trade-filter
  - queries = params.except(*request.path_parameters.keys)
  - condi = {}
  - conds = {}
  - dict = { 'charge' => '充值',
             'pull' => '提现'}
  %dl.filter-items
    %dt
      起止日期
    %dd
      - condi[:filter] =queries[:filter]
      - if !queries[:date_range]
        %a.timeType.selected{:href => usercenter_console_charge_path(condi)}
          全部
      - else
        %a.tradeType{:href => usercenter_console_charge_path(condi)}
          全部
      - {'week' => '最近7天',
                 'month' => '1个月内',
                 'month2' => '2个月内',
                 'month3' => '3个月内' }.each do |k, v|

        - condi[:date_range] = k
        - condi[:filter] =queries[:filter]
        - if queries[:date_range] == k
          %a.timeType.selected{:href => usercenter_console_charge_path(condi)}
            = v
        - else
          %a.tradeType{:href => usercenter_console_charge_path(condi)}
            =v


  %dl.filter-items
    %dt
      交易类型
    %dd
      - conds[:date_range] = queries[:date_range]
      - if !queries[:filter]
        %a.timeType.selected{:href => usercenter_console_charge_path(conds)}
          全部
      - else
        - conds[:filter] = nil
        %a.tradeType{:href => usercenter_console_charge_path(conds)}
          全部
      - dict.each do |k, v|
        - conds[:date_range] = queries[:date_range]
        - conds[:filter] = k
        - if queries[:filter] == k
          %a.tradeType.selected{:href => usercenter_console_charge_path(conds)}
            = v
        - else
          %a.tradeType{:href => usercenter_console_charge_path(conds)}
            =v


.systemnews.console-list-area
  %table.table
    %thead
      %tr
        %td{:style => "width:180px"} 时间
        %td{:style => "width:150px"} 交易类型
        %td{:style => "width:180px"} 对方
        %td{:style => "width:180px"} 金额(￥)明细
        %td{:style => "width:180px"} 操作前余额(￥)
        %td{:style => "width:120px"} 可用余额(￥)
    %tbody
      - @transactions.each do |t|
        %tr
          %td
            =t.created_at.strftime("%Y.%m.%d %H:%M")
          %td
            =dict[t.trans_type]
          %td
            银联
          %td
            =t.operation_amount
          %td
            =t.account_before
          %td
            =t.account_after
  .pager-center
    .invest-pager-container
      .invest_pagination
        = will_paginate @transactions, :container => false