.abtitle-sub
  %h2 查看投资
  .abtitle-return
    %a.btn.btn-default.toback{:href => usercenter_console_invest_history_path(:page => @invest.invest_type)}
      返回
.title-items
  %h3 投资详情
.model-box.loan-tum
  .head
    %h2
      = @product.product_name
      = @product.deposit_number
    .r
      锁定期
  .loan-parame-post
    %ul.items
      %li
        %span.tit
          投资额
        %span
          ￥
          = @invest.amount
      %li
        %span.tit
          年化收益率
        %span.light-org
          = @product.annual_rate
          \%
    %ul.items.userloanbjco
      %li
        %span.tit
          收益处理方式
        %span
          = @product.repayment_method_name
      %li
        %span.tit 查看合同
        %span
          %a.light-skyblue{:href => "#"}
            查看定期宝V合同
    %ul.items
      %li
        %span.tit
          购买日期
        %span
          = @invest.created_at.strftime("%Y-%m-%d")
      %li
        %span.tit
          计息日期
        %span
          = @product.join_date
    %ul.items.userloanbjco
      %li.row
        %span.tit.col-xs-4
          %strong
            收益支付进度
        %span.col-xs-5.tet
          .col-xs-9
            - progress = @product.current_profit_period / @product.repayment_period.round(2) *100
            .progress.progress-striped.active
              .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: #{progress}%"}
                %span.sr-only 45% Complete
          .col-xs-3
            %a{:href => "#"}
            = @product.current_profit_period
            \/
            = @product.repayment_period
.title-items
  %h3
    收益状况
.model-box.loan-tum
  .loan-parame-post
    %ul.items.userloanbjco
      %li
        %span.tit
          共已支付收益
        %span
          ￥5.83
      %li
        %span.tit
          预计剩余收益
        %span.light-org
          ￥11.66
.title-items
  %h3
    本金状况
.model-box.loan-tum
  .loan-parame-post.plan-post
    %ul.items.userloanbjco
      %li
        %span.tit 项目名称
        %span.tit 待收本金（￥）
        %span.tit 担保方
        %span.tit 合同
        %span.tit 电子回单
    %ul.items
      %li
        %span.tit
          = @product.deposit_number
        %span.tit 10000
        %span.tit
          %img{:src => image_url("main/yisheng-icons.jpg")}  银盛支付
        %span.tit
          %a.light-skyblue{:href => "#"} 查看合同
        %span.tit.light-skyblue
          %img{:src => image_url("main/ckdzhd-icons.jpg")}
            %a{:href => "#"} 查看电子回单
.plan-stats.r3.userloanbjco
  统计数据：本定存宝待收本金
  %span.light-org ￥1,000.00
  投资项目金额
  %span.light-org ￥1,000.00
  资金利用率
  %span.light-org 100.00%