- content_for :javascript_includes do
  = javascript_include_tag "productpager.js"
- if !params[:page]
  - active_page = {"fixed" =>"active", "month" => ""}
- else
  - active_page = {"fixed" => params[:page] == "fixed" ? "active":"", "month" =>  params[:page] == "month" ? "active":""}
.abtitle-sub
  %h2 投资记录
.userredemption
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#fixed", :role => "tab"}
        定期宝
        %span.badge
          = @fixed_deposits.size
    %li{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#month", :role => "tab"}
        月月盈
        %span.badge
          = @month_deposits.size
  .tab-content
    #fixed.tab-pane{:role => "tabpanel", :num => @fixed_deposits.size, :class => active_page["fixed"]}
      .systemnews.investTabs1
        %table.table
          %thead
            %tr
              %td{:style => "width:200px"} 名称
              %td{:style => "width:200px"} 年化收益
              %td{:style => "width:200px"} 金额(￥)
              %td{:style => "width:150px"} 购买笔数
              %td{:style => "width:150px"} 担保
          %tbody
            - @fixed_deposits.each do |f|
              %tr.fixed_item
                %td
                  %a{:href => usercenter_console_invest_detail_path(:invest => f.invest_number)}
                    = "定存宝#{f.loan_number}"
                %td  #{number_with_precision f.product.annual_rate, precision: 2}%
                %td= f.amount
                %td= "#{f.product.repayment_period}个月"
                %td
                  银盛担保
        .text-center
          - if @fixed_deposits.size > 10
            %ul.pagination
              #fixed_pager
    #month.tab-pane{:role => "tabpanel", :num => @month_deposits.size, :class => active_page["month"]}
      .systemnews.investTabs1
        %table.table
          %thead
            %tr
              %td{:style => "width:200px"} 名称
              %td{:style => "width:100px"} 年化率
              %td{:style => "width:180px"} 金额(￥)
              %td{:style => "width:180px"} 月收本息(￥)
              %td{:style => "width:100px"} 状态
              %td{:style => "width:180px"} 担保方
          %tbody
            - @month_deposits.each do |f|
              %tr.month_item
                %td
                  %a{:href => usercenter_console_invest_detail_path(:invest => f.invest_number)}
                    = "月月盈#{f.loan_number}"
                %td  #{number_with_precision f.product.annual_rate, precision: 2}%
                %td= f.amount
                %td= 1000
                %td
                  = f.product.stage
                %td
                  = f.product.guarantee
        .text-center
          -if @month_deposits.size > 10
            %ul.pagination
              #month_pager

