- content_for :javascript_includes do
  = javascript_include_tag "productpager.js"
- if !params[:page]
  - active_page = {"fixed" =>"active", "month" => ""}
- else
  - active_page = {"fixed" => params[:page] == "fixed" ? "active":"", "month" =>  params[:page] == "month" ? "active":""}
.console-header-info
  %h1.page-header 投资记录
.investment-records-area
  %ul.nav.nav-tabs{:role=>"tablist"}
    %li{:class => active_page["fixed"]}
      %a{:href=>"#fixed", :role=>"tab", 'data-toggle'=>"tab"}
        定存宝
        %span.badge
          = @fixed_deposits.size
    %li{:class => active_page["month"]}
      %a#month_tab{:href=>"#month", :role=>"tab", 'data-toggle'=>"tab"}
        月月盈
        %span.badge
          = @month_deposits.size

  %div.tab-content
    %div.tab-pane{:id => "fixed", :num => @fixed_deposits.size, :class => active_page["fixed"]}
      .console-list-area
        %table.table
          %tr
            %th 名称
            %th 年化收益率
            %th 金额（￥）
            %th 投资期限
            %th 担保
          - @fixed_deposits.each do |f|
            %tr.fixed_item
              %td
                %a{:href => usercenter_console_invest_detail_path(:invest => f.invest_number)}
                  = "定存宝#{f.loan_number}"
              %td  #{number_with_precision f.product.annual_rate, precision: 2}%
              %td= f.amount
              %td= "#{f.product.repayment_period}个月"
              %td
                银盛担保
        .text-center
          -if @fixed_deposits.size > 10
            %ul.pagination
              #fixed_pager
    %div.tab-pane{:id=>"month", :num => @month_deposits.size, :class => active_page["month"]}
      .console-list-area
        %table.table
          %tr
            %th 名称
            %th 年化收益率
            %th 金额（￥）
            %th 投资期限
            %th 担保
            - @month_deposits.each do |f|
              %tr.month_item
                %td
                  %a{:href => usercenter_console_invest_detail_path(:invest => f.invest_number)}
                    = "月月盈#{f.loan_number}"
                %td  #{number_with_precision f.product.annual_rate, precision: 2}%
                %td= f.amount
                %td= "#{f.product.repayment_period}个月"
                %td
                  银盛担保
        .text-center
          -if @month_deposits.size > 10
            %ul.pagination
              #month_pager