- content_for :javascript_includes do
  = javascript_include_tag "redemption.js"
.console-header-info
  %h1.page-header 投资赎回
- type_dict = {"onsale" => "button", "normal" => "submit"}
- value_dict = {"onsale" => "赎回中", "normal" => "赎回"}
- input_dict = {"onsale" => true, "normal" => false}
.detail_container
  .col-md-12
    %ul.nav.nav-tabs{:role=>"tablist"}
      %li.active
        %a{:href=>"#fixed", :role=>"tab", 'data-toggle'=>"tab"}
          定存宝
          %span.badge
            = @fixed_deposits.size
      %li
        %a{:href=>"#month", :role=>"tab", 'data-toggle'=>"tab"}
          月月盈
          %span.badge
            = @month_deposits.size

    %div.tab-content
      %div.tab-pane.active{:id=>"fixed"}
        .console-list-area
          %table.table
            %tr
              %th 名称
              %th 年化收益率
              %th 已持有期数
              %th 待收本金
              %th 折让率
              %th 赎回金额
              %th 赎回
            - @fixed_deposits.each do |f|
              = form_tag usercenter_console_resell_path do
                %tr
                  = hidden_field_tag :invest_id, f.id
                  %td.vertical-center
                    = f.loan_number
                  %td.vertical-center
                    #{number_with_precision f.annual_rate, precision: 2}%
                  %td.vertical-center
                    = "1"
                  %td.vertical-center
                    .origin_value
                      = f.amount
                  %td{:style=>"width:20%"}
                    - if f.product.premature_redemption == "yes"
                      %input.number_range{:type => "text", :value=>"0.00", :name=>"discount",:class=>"col-xs-8 form-control",:disabled=>input_dict[f.stage] }
                    - else
                      %input.number_range{:type => "text", :value=>"0.00", :name=>"discount",:class=>"col-xs-8 form-control",:disabled=> true }

                  %td.vertical-center
                    .discount_value
                      = f.amount
                  %td
                    - if f.product.premature_redemption == "yes"
                      %input.btn.btn-primary{:type => type_dict[f.stage] ,:value => value_dict[f.stage]}
                    - else
                      %input.btn.btn-default{:type => "button",:value => "无效" ,:disabled => "true"}
      %div.tab-pane{:id=>"month"}
        .console-list-area
          %table.table
            %tr
              %th 名称
              %th 年化收益率
              %th 已持有期数
              %th 待收本金
              %th 折让率
              %th 赎回金额
              %th 赎回
            - @month_deposits.each do |f|
              = form_tag usercenter_console_resell_path do
                %tr
                  = hidden_field_tag :invest_id, f.id
                  %td= f.loan_number
                  %td  #{number_with_precision f.annual_rate, precision: 2}%
                  %td= "1"
                  %td= f.amount
                  %td= text_field_tag :discount_rate, nil, class: 'amount form-control'
                  %td= f.amount
                  %td
                    - if f.product.premature_redemption == "yes"
                      %input.btn.btn-primary{:type => type_dict[f.stage] ,:value => value_dict[f.stage]}
                    - else
                      %input.btn.btn-default{:type => "button",:value => "无效" ,:disabled => "true"}