- content_for :javascript_includes do
  = javascript_include_tag "redemption.js"
  = javascript_include_tag "productpager.js"
.abtitle-sub
  %h2 投资赎回
- type_dict = {"onsale" => "button", "normal" => "submit"}
- value_dict = {"onsale" => "赎回中", "normal" => "赎回"}
- input_dict = {"onsale" => true, "normal" => false}
- if !params[:page]
  - active_page = {"fixed" =>"active", "month" => ""}
- else
  - active_page = {"fixed" => params[:page] == "fixed" ? "active":"", "month" =>  params[:page] == "month" ? "active":""}
.userredemption
  %ul.nav.nav-tabs{:role => "tablist"}
    %li{:role => "presentation", :class => active_page["fixed"]}
      %a{"data-toggle" => "tab", :href => "#fixed", :role => "tab"}
        定存宝
        %span.badge
          = @fixed_deposits.size
    %li{:role => "presentation", :class => active_page["month"]}
      %a{"data-toggle" => "tab", :href => "#month", :role => "tab"}
        月月盈
        %span.badge
          = @month_deposits.size
  / Tab panes

  .tab-content
    .tab-pane#fixed{:num => @fixed_deposits.size, :class => active_page["fixed"], :role => "tabpanel"}
      .systemnews.investTabs1
        = render "products/redem_form", invests:@fixed_deposits, product_type: "fixed"
        .text-center
          -if @fixed_deposits.size > 8
            %ul.pagination
              #fixed_pager
    .tab-pane{:id => "month", :num => @month_deposits.size, :class => active_page["month"]}
      .systemnews.investTabs1
        = render "products/redem_form", invests:@month_deposits, product_type: "month"
        .text-center
          -if @month_deposits.size > 8
            %ul.pagination
              #month_pager


