.abtitle-sub
  %h2 投资赎回
.redemption.userredemption
  %ul.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#home", :role => "tab"}
        定期宝
        %span.badge 2
    %li{:role => "presentation"}
      %a{"data-toggle" => "tab", :href => "#profile", :role => "tab"}
        月月盈
        %span.badge 2
  / Tab panes
  .tab-content
    #home.tab-pane.active{:role => "tabpanel"}
      .systemnews.investTabs1
        %table.table
          %thead
            %tr
              %td{:style => "width:230px"} 名称
              %td{:style => "width:100px"} 年化率
              %td{:style => "width:180px"} 已持有期数
              %td{:style => "width:180px"} 待收本金(￥)
              %td{:style => "width:200px"} 折让率(%)
              %td{:style => "width:120px"} 赎回金额
              %td{:style => "width:100px"} 赎回
          %tbody
            %tr
              %td
                DQB20141101
              %td 12.00%
              %td
                1
              %td.light-org 1,000.00
              %td.discount-rate
                .input-group.addrate
                  %input.form-control{:type => "text"}
                    %span.input-group-btn
                      %ul
                        %li
                          %a.addrate-add{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-plus
                        %li
                          %a.addrate-cut{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-minus
              %td.light-org
                1,000.00
              %td.invest-btn
                %a.btn.btn-primary.btn-block{:href => "#"} 赎回赎回
            %tr
              %td
                DQB20141101
              %td 12.00%
              %td
                1
              %td.light-org 1,000.00
              %td.discount-rate
                .input-group.addrate
                  %input.form-control{:type => "text"}
                    %span.input-group-btn
                      %ul
                        %li
                          %a.addrate-add{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-plus
                        %li
                          %a.addrate-cut{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-minus
              %td.light-org
                1,000.00
              %td.invest-btn
                %a.btn.btn-primary.btn-block{:href => "#"} 赎回回
            %tr
              %td
                DQB20141101
              %td 12.00%
              %td
                1
              %td.light-org 1000,000.00
              %td.discount-rate
                .input-group.addrate
                  %input.form-control{:type => "text"}
                    %span.input-group-btn
                      %ul
                        %li
                          %a.addrate-add{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-plus
                        %li
                          %a.addrate-cut{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-minus
              %td.light-org
                1,000.00
              %td.invest-btn
                %a.btn.btn-primary.btn-block{:href => "#"} 赎回
        .invest-list-frame.systemnews-fenye
          %ul.pagination
            %li
              %a{:href => "#"} 《上一页
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 下一页》
    #profile.tab-pane{:role => "tabpanel"}
      .systemnews.investTabs1
        %table.table
          %thead
            %tr
              %td{:style => "width:230px"} 名称
              %td{:style => "width:150px"} 年化率
              %td{:style => "width:180px"} 已持有期数
              %td{:style => "width:180px"} 待收本金(￥)
              %td{:style => "width:200px"} 折让率(%)
              %td{:style => "width:120px"} 赎回金额
              %td{:style => "width:100px"} 赎回
          %tbody
            %tr
              %td
                DQB20141101
              %td 12.00%
              %td
                1
              %td.light-org 1,000.00
              %td.discount-rate
                .input-group.addrate
                  %input.form-control{:type => "text"}
                    %span.input-group-btn
                      %ul
                        %li
                          %a.addrate-add{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-plus
                        %li
                          %a.addrate-cut{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-minus
              %td.light-org
                1,000.00
              %td
                %a.btn.btn-primary{:href => "#"} 赎回
            %tr
              %td
                DQB20141101
              %td 12.00%
              %td
                1
              %td.light-org 1,000.00
              %td.discount-rate
                .input-group.addrate
                  %input.form-control{:type => "text"}
                    %span.input-group-btn
                      %ul
                        %li
                          %a.addrate-add{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-plus
                        %li
                          %a.addrate-cut{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-minus
              %td.light-org
                1,000.00
              %td
                %a.btn.btn-primary.btn-block{:href => "#"} 正在融资
            %tr
              %td
                DQB20141101
              %td 12.00%
              %td
                1
              %td.light-org 1,000.00
              %td.discount-rate
                .input-group.addrate
                  %input.form-control{:type => "text"}
                    %span.input-group-btn
                      %ul
                        %li
                          %a.addrate-add{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-plus
                        %li
                          %a.addrate-cut{:href => "#", :type => "button"}
                            %span.glyphicon.glyphicon-minus
              %td.light-org
                1,000.00
              %td
                %a.btn.btn-primary{:href => "#"} 赎回中
        .invest-list-frame.systemnews-fenye
          %ul.pagination
            %li
              %a{:href => "#"} 《上一页
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 下一页》

%h1.page-header 投资赎回
- type_dict = {"onsale" => "button", "normal" => "submit"}
- value_dict = {"onsale" => "赎回中", "normal" => "赎回"}
.detail_container
  .col-md-12
    %ul.nav.nav-tabs{:role=>"tablist"}
      %li.active
        %a{:href=>"#fixed", :role=>"tab", 'data-toggle'=>"tab"}
          定存宝
          %span.badge
            = @fixed_deposits.size
      %li
        %a{:href=>"#month", :role=>"tab", 'data-toggle'=>"tab"}
          月月盈
          %span.badge
            = @month_deposits.size

    %div.tab-content
      %div.tab-pane.active{:id=>"fixed"}
        .console-list-area
          %table.table
            %tr
              %th 名称
              %th 年化收益率
              %th 已持有期数
              %th 待收本金
              %th 折让率
              %th 赎回金额
              %th 赎回
            - @fixed_deposits.each do |f|
              = form_tag usercenter_console_resell_path do
                %tr
                  = hidden_field_tag :invest_id, f.id
                  %td= f.loan_number
                  %td  #{number_with_precision f.annual_rate, precision: 2}%
                  %td= "1"
                  %td= f.amount
                  %td= text_field_tag :discount_rate, nil, class: 'amount form-control'
                  %td= f.amount
                  %td
                    - if f.product.premature_redemption == "yes"
                      %input.btn.btn-primary{:type => type_dict[f.stage] ,:value => value_dict[f.stage]}
                    - else
                      %input.btn.btn-default{:type => "button",:value => "无效" ,:disabled => "true"}
      %div.tab-pane{:id=>"month"}
        .console-list-area
          %table.table
            %tr
              %th 名称
              %th 年化收益率
              %th 已持有期数
              %th 待收本金
              %th 折让率
              %th 赎回金额
              %th 赎回
            - @month_deposits.each do |f|
              = form_tag usercenter_console_resell_path do
                %tr
                  = hidden_field_tag :invest_id, f.id
                  %td= f.loan_number
                  %td  #{number_with_precision f.annual_rate, precision: 2}%
                  %td= "1"
                  %td= f.amount
                  %td= text_field_tag :discount_rate, nil, class: 'amount form-control'
                  %td= f.amount
                  %td
                    - if f.product.premature_redemption == "yes"
                      %input.btn.btn-primary{:type => type_dict[f.stage] ,:value => value_dict[f.stage]}
                    - else
                      %input.btn.btn-default{:type => "button",:value => "无效" ,:disabled => "true"}