%h1 Listing transactions

%table
  %tr
    %th Trans type
    %th Operation amount
    %th Account before
    %th Account after
    %th Frozen before
    %th Frozen after
    %th
    %th
    %th

  - @transactions.each do |transaction|
    %tr
      %td= transaction.trans_type
      %td= transaction.operation_amount
      %td= transaction.account_before
      %td= transaction.account_after
      %td= transaction.frozen_before
      %td= transaction.frozen_after
      %td= link_to 'Show', transaction
      %td= link_to 'Edit', edit_transaction_path(transaction)
      %td= link_to 'Destroy', transaction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Transaction', new_transaction_path
