%p#notice= notice

%p
  %b Trans type:
  = @transaction.trans_type
%p
  %b Operation amount:
  = @transaction.operation_amount
%p
  %b Account before:
  = @transaction.account_before
%p
  %b Account after:
  = @transaction.account_after
%p
  %b Frozen before:
  = @transaction.frozen_before
%p
  %b Frozen after:
  = @transaction.frozen_after

= link_to 'Edit', edit_transaction_path(@transaction)
\|
= link_to 'Back', transactions_path
