.model-box.panel.panel-default
  .head.panel-heading
    %h3.panel-title
      = obj.product_name
      = obj.deposit_number
  .panel-body
    .profit.row
      %dl.col-xs-6.block-area
        %dt 总额度
        %dd
          %ins ￥
          %em
            = number_with_precision(obj.total_amount, precision: 0, delimiter: ',')
      %dl.col-xs-3.block-area
        %dt 年化收益率
        %dd
          %em
            = obj.annual_rate.to_i
            - num = obj.annual_rate.to_s.split(".")
            - frac = num.count > 1 ? num[1].to_s : 0
          = succeed "%" do
            %span .#{frac}
      %dl.col-xs-3.block-area
        %dt 投资期限
        %dd
          %em
            = obj.repayment_period
          个月
    .working-day
      定存宝 每工作日
      %span 10:30, 14:30, 20:00
      更新产品
    .row.pubdate
      .col-xs-6
        %dl.dl-horizontal
          %dt 截止时间：
          %dd
            = obj.join_date
      .col-xs-6
        %dl.dl-horizontal
          - rest_time = obj.rest_time
          - if rest_time[:days] < 0
          - else
            %dt 剩余时间：
            %dd #{rest_time[:days]}天#{rest_time[:hours]}时#{rest_time[:minutes]}分
  .panel-footer
    .row
      .col-xs-6
        %span
          %img{:src => image_url("main/Principal.jpg")}/
        100%本息保障
      .col-xs-6
        .row
          .col-xs-4
            投标进度：
          .col-xs-5
            .progress.progress-striped.active
              .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0",:role => "progressbar", :style => "width: #{obj.current_progress}%;"}
                %span.sr-only 40% Complete (success)
          .col-xs-3
            = "#{obj.current_progress}%"