- content_for :javascript_includes do
  = javascript_include_tag "showproduct.js"
- invests = @object.invests
.auxiliary-info
  .container
    .row
      .col-md-8
        %h1.page-header
          我要投资 / 
          =@object.product_name
      .col-md-4
        .fun-area
          %a.btn.btn-default.go-back{:href=> "/products/#{@object.product_type}"} 返回产品列表
          = render "shared/balance"
.container
  #flash-message.pull-right
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}", :class => "flash_#{name} flash_all"
= render "#{@object.product_type}_deposits/item_detail", obj:@object, invests:invests
