.container.transfer
  .row
    .col-xs-8.product-info-area
      .model-box.panel.panel-default
        .head.panel-heading
          %h3.panel-title
            = obj.product_name
            = obj.deposit_number
        .panel-body
          .profit.row
            %dl.col-xs-6.block-area
              %dt 总额度
              %dd
                %ins ￥
                %em
                  = number_with_precision(obj.total_amount, precision: 0, delimiter: ',')
            %dl.col-xs-3.block-area
              %dt 年化收益率
              %dd
                %em
                  = obj.annual_rate.to_i
                = succeed "%" do
                  %span .0
            %dl.col-xs-3.block-area
              %dt 投资期限
              %dd
                %em
                  = obj.repayment_period
                个月
          .working-day
            定存宝 每工作日
            %span 10:30、14:30、20:00
            更新产品
          .row.pubdate
            .col-xs-6
              %dl.dl-horizontal
                %dt 发布时间：
                %dd
                  = obj.created_at.strftime("%Y-%m-%d")
            .col-xs-6
              %dl.dl-horizontal
                %dt 剩余时间：
                %dd 6天12时25分
        .panel-footer
          .row
            .col-xs-6
              %span
                %img{:src => image_url("main/Principal.jpg")}/
              100%本息保障
            .col-xs-6
              .row
                .col-xs-4
                  投标进度：
                .col-xs-5
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0",:role => "progressbar", :style => "width: #{obj.current_progress}%;"}
                      %span.sr-only 40% Complete (success)
                .col-xs-3
                  = "#{obj.current_progress}%"
    .col-xs-4.modedqb
      %form{:method => "post"}
      = form_tag product_join_path(obj.product_type,obj) do
        .model-box.panel.panel-default
          .head.panel-heading
            %h3.panel-title
              投资金额
              %span.text-right 单笔最多可投100,000元
          .doned.panel-body
            .input-group
              %input#product_value.form-control{:autocomplete => "off", :name => "product_value", :type => "text", :value => ""}
                %span.input-group-addon 元
            %dl.dl-horizontal
              %dt 收益处理方式：
              %dd 收益返还
              %dt 到期总收益：
              %dd ￥ 0.00
            .row
              .col-xs-3.change-codecol  验证码：
              .col-xs-9.change-codecol9
                .simple_captcha.helloooe.row
                  .simple_captcha_field.col-xs-4
                    %input#captcha.form-control{:autocomplete => "off", :name => "captcha", :placeholder => "", :required => "required", :type => "text"}
                    %input#captcha_key{:name => "captcha_key", :type => "hidden", :value => "af45b4406989172453e48eb562e0f7eeb7191edb"}
                  .simple_captcha_image.col-xs-4
                    %img#simple_captcha-af45b440698{:alt => "captcha", :src => "/simple_captcha?code=af45b4406989172453e48eb562e0f7eeb7191edb&amp;time=1413022441"}

                  .simple_captcha_refresh_button.col-xs-4
                    %a{"data-remote" => "true", :href => "/simple_captcha?id=simple_captcha-af45b440698"}
                      刷新一下
            .checkbox
              %label
                %input{:type => "checkbox"}
                  我同意
              %span
                %a{:href => "#"} 《沃银网定存宝V投资协议》
          .panel-footer
            - if current_user
              %a.btn.btn-primary.btn-lg.btn-block{:type => "submit"}
                = obj.current_operation
            - else
              %a.btn.btn-primary.btn-lg.btn-block{:href => new_user_session_path} 还款中

  .product-details
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active
        %a.tab-item{"data-toggle" => "tab", :href => "#detail", :role => "tab"} 产品详情
      %li
        %a.tab-item{"data-toggle" => "tab", :href => "#prshd", :role => "tab"}
          加入记录
          %span.badge
            = invests.size
    .tab-content
      #detail.tab-pane.active

      #prshd.tab-pane
        .product-details-jrjl
          = render 'products/investors', invs: invests