.row.yyy-list
  .col-xs-2.yyy-list-titlogo
    %img{:src => image_url("main/yyy-logo.png")}/
  .col-xs-8.yyy-list-progress
    %table.table-list
      %h4.yyy-h4
        %button.btn.btn-primary.yyy-list-btn{:type => "button"} 月
        月月盈
        %span.yyy-list-title
          %a.a-inline{:href => product_detail_path("month",obj)}
            = obj.deposit_number
        %span.yyy-danbao
          %img{:src => image_url("main/yisheng-icons.jpg")}/
          银盛支付担保
      %tbody
        %tr
          %td.td-list
            %dl.dl-horizontal
              %dt 年化收益率：
              %dd
                #{obj.annual_rate}%
          %td.td-list
            %dl.dl-horizontal
              %dt 融资金额：
              %dd
                ="￥#{obj.free_invest_amount}"
          %td.td-list
            %dl.dl-horizontal
              %dt 借款期限：
              %dd
                ="#{obj.repayment_period}个月"
          %td.td-list
            %dl.dl-horizontal
              %dt 加入人数：
              %dd
                = obj.owner_num
                人
  .col-xs-2.yyy-product-progress
    %ul
      %li
        .row
          .col-xs-9
            .progress.progress-striped.active
              .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuenow" => "30", :role => "progressbar", :style => "width: #{obj.current_progress}%;"}
                %span.sr-only 40% Complete (success)
          .col-xs-3.progress-digit
            #{obj.current_progress}%
      %li
        %a.btn.btn-primary.btn-block{:href => product_detail_path("month",obj)} 马上加入
