%tr
  %td
    %h4.pro-title 
      月月盈
      %span
        %a.a-inline{:href => product_detail_path("month",obj)}
          = obj.deposit_number
      %a{:href => "#"}
        %span.badge 月
    %p.safe-info
      %img{:src => image_url("main/indexmain7.png")}
      银盛支付担保
  %td
    #{obj.annual_rate}%
  %td
    ="￥#{obj.free_invest_amount}"
  %td
    ="#{obj.repayment_period}个月"
  %td
    %ul
      %li
        - current_progress = (obj.total_amount - obj.free_invest_amount) * 100 / obj.total_amount
        .progress.yy-pro
          .bar{:style => "width:#{current_progress}%"}
      %li
        已投资
        %span
          #{number_with_precision current_progress, precision: 0}%
  %td.select-col
    %a.btn.btn-success{:href => product_detail_path("month",obj)} 马上加入