.container.transfer
  .row
    .col-md-8.product-info-area
      .model-box.panel.panel-default
        .head.panel-heading
          %h3.panel-title
            = obj.product_name
            = obj.deposit_number
        .panel-body
          .profit.row
            %dl.col-md-6.block-area
              %dt 总额度
              %dd
                %ins ￥
                %em
                  = number_with_precision(obj.total_amount, precision: 0, delimiter: ',')
            %dl.col-md-3.block-area
              %dt 年化收益率
              %dd
                %em
                  = obj.annual_rate.to_i
                %span
                  - num = obj.annual_rate.to_s.split(".")
                  - frac = num.count > 1 ? num[1].to_s : 0
                  = "."
                  = frac
                ="%"
                -#= succeed "%" do
                -#  %span .00
            %dl.col-md-3.block-area
              %dt 投资期限
              %dd
                %em
                  = obj.repayment_period
                个月
          .working-day 定存宝 每工作日 10:30、14:30、20:00 更新产品
        .panel-footer.expl
          .row
            .col-md-6
              .row
                - current_progress = (obj.total_amount - obj.free_invest_amount) * 100 / obj.total_amount
                .col-md-6
                  .progress
                    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0",:role => "progressbar", :style => "width: #{current_progress}%;"}
                .col-md-6
                  .progress-number
                    %span<
                      当前进度
                      = "#{number_with_precision(current_progress , precision: 2)}%"
  
                  -#  %b
                  -#    当前进度
                  -#    = "#{current_progress}%"
            .col-md-3 
              发布时间 
              = obj.created_at.strftime("%Y-%m-%d")
            .col-md-3
              %img{:src => image_url("main/wytz5.png")}
                %p
                  ="100%本息保障"
    .col-md-4.modedqb
      = form_tag product_join_path(obj.product_type,obj) do
        .model-box.panel.panel-default
          .head.panel-heading
            %h3.panel-title 
              投资金额
              %span.text-muted 单笔可投100,000元
          .doned-left.panel-body
            .input-group
              = text_field_tag :product_value, "", class: "form-control", autocomplete: "off"
              %span.input-group-addon 元
            
            %dl.dl-horizontal
              %dt 收益处理方式
              %dd
                = obj.repayment_method_name
                %span.badge.explain{"data-toggle"=>"popover","data-content" => "每周期偿还收益,到期偿还本金","data-placement"=>"bottom"} ?
              %dt
                到期总收益
                #profit_rate
                  =  number_with_precision(obj.annual_rate / 12 / 100 * obj.repayment_period , precision: 2)
              %dd
                %span 
                  ="￥"
                %span#profit_value 0.00
              %dt 年化收益率
              %dd
                ="#{obj.annual_rate} %"
              %dt 验证码
              %dd
                = show_simple_captcha(:label => "",:code_type => "numeric")
            %p.funds-ord
              %input.io.chek1{:type => "checkbox"} 我同意《
              %a{:href => "#"} 沃银网定存宝V投资协议
              》
          .panel-footer
            - if current_user
              %button.btn.btn-primary.btn-lg.btn-block#test{:type => "submit"}
                = obj.current_operation
            - else
              %a.btn.btn-primary.btn-lg.btn-block{:href => new_user_session_path} 加入

  .product-details
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active
        %a.tab-item{"data-toggle" => "tab", :href => "#detail", :role => "tab"} 产品详情
      %li
        %a.tab-item{"data-toggle" => "tab", :href => "#prshd", :role => "tab"}
          加入记录
          %span.badge
            = invests.size
    / Tab panes
    .tab-content
      #detail.tab-pane.active
        %table.table.table-striped.product-details-border
          %thead
            %tr
              %th 名称
              %th
                = obj.product_name
                = obj.deposit_number
          %tbody
            %tr
              %td 产品介绍
              %td 定存宝是沃银网推出的对100%本息担保的借款项目进行自动投资的理财计划，多种期限可选，满足出借人不同的流动性需要。出借人出借的本金将在投资期限届满后一次性返回其账户，利息收益每月返还，并由系统实现自动化的分散投资，更好的满足了出借人的需求。
            %tr
              %td 投资范围
              %td 由合作机构提供100％本息担保的借款项目，包括信用、保证、抵质押等类型
            %tr
              %td 年化收益率
              %td
                = "#{obj.annual_rate}%"
            %tr
              %td 加入期
              %td
                = "#{obj.join_date.strftime("%Y-%m-%d")} 至 #{obj.expiring_date.strftime("%Y-%m-%d")}"
            %tr
              %td 加入条件
              %td 加入金额1,000元起，且以1000元的倍数递增
            %tr
              %td 单笔额度上限
              %td ￥100,000
            %tr
              %td 期限
              %td
                = "#{obj.repayment_period}个月"
            %tr
              %td 到期日
              %td
                %ul.product-details-cost
                  %li
                    %p
                      %span> 至 #{obj.expiring_date.strftime("%Y-%m-%d")}
                      （ 定存宝V可能提前还款，收益将根据实际投资天数计算，详情请见《
                    = succeed "\u{300b}\u{ff09}" do
                      %a{:href => "#"} 沃银网定存宝V投资协议
            %tr
              %td 到期赎回方式
              %td 平台自动返还剩余本金和当期利息
            %tr
              %td 提前赎回方式
              %td 期限内支持提前赎回，详情请见《沃银网定存宝投资协议》
            %tr
              %td 费用
              %td
                %ul.product-details-cost
                  %li
                    加入费率：
                    %span 0.00
                    %span %
                  %li
                    %p 管理费率：参见《
                    = succeed "\u{300b}" do
                      %a{:href => "#"} 沃银网定存宝V投资协议
                  %li
                    到期赎回费率
                    %span 0.00
                    %span %
                  %li
                    %p
                      提前赎回费率：最低为待收本金的
                      %span 23.00
                      = succeed "\u{ff0c}\u{53c2}\u{89c1}\u{300a}" do
                        %span %
                    = succeed "\u{300b}" do
                      %a{:href => "#"} 沃银网定存宝V投资协议
                  %li
            %tr
              %td 保障方式
              %td.expl
                %img{:src => image_url("main/wytz5.png")}
                  %p &nbsp;100% 本息保障
            %tr
              %td 电子回单
              %td 网上交易保障中心证明该项目的电子回单真实、有效、不可篡改
            %tr
              %td 定存宝V协议
              %td
                %a{:href => "#"} 点击查看
      #prshd.tab-pane
        %table.table.product-details-jrjl.table-striped.product-details-border
          %thead
            %tr
              %th 投资人
              %th 加入金额
              %th 加入时间
              %th 状态
          %tbody
            - invests.each do |invest|
              %tr
                %td= invest.user_info.show_id[0, 2] + "***" + invest.user_info.show_id[-2, 2]
                %td= invest.amount
                %td= invest.created_at.strftime("%Y-%m-%d %H:%M")
                %td
                  %span.glyphicon.glyphicon-ok>
                    成功


