%tr
  %td
    %span.badge 定
    = link_to "#{obj.deposit_number}", product_detail_path("fixed", obj)
  %td
    #{obj.annual_rate} %
  %td
    #{obj.total_amount}
  %td
    #{obj.repayment_period} 个月
  %td
    .row
      .col-xs-9
        .progress.progress-striped.active
          .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 50%"}
            %span.sr-only 40% Complete (success2)
      .col-xs-3.progress-digit 50%
  %td
    %button.btn.btn-primary.btn-sm{:href => "#{obj.current_action}"}
      #{obj.current_operation}



