!!!
%html
  %head
    %title Wooul
    = stylesheet_link_tag    "application", media: "all"
    -#, "data-turbolinks-track" => true
    = javascript_include_tag "application"
    -#, "data-turbolinks-track" => true
    = yield :javascript_includes
    = csrf_meta_tags
  %body
    .header-tools
      .container
        .row
          .col-md-6
            .hotline
              %span.glyphicon.glyphicon-earphone
              %span.hottitle 客服热线
              %span.numbers 4001-033-755
          .col-md-6
            = render 'shared/login_status'
    = bootstrap_flash
    = yield
    = render 'shared/footer'
