!!!
%html
  %head
    %title Wooul
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'shared/header'
    = bootstrap_flash

    .primary-container
      .container-fluid
        .row
          .col-md-2
            =render "shared/secure_sidebar"
          .col-md-10
            .container
              = yield
    = render 'shared/footer'