!!!
%html
  %head
    %title 沃银网
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application"
    -#"data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'shared/header'
    = bootstrap_flash

    .securecenter-page-area
      .container
        .row.safewrapper
          .col-xs-3
            =render "shared/secure_sidebar"
          .col-xs-9.usermain
            .securecenter-main-area
              = yield
    = cms_snippet_content('footer')
  = yield :javascript_includes