%html
  %head
    %title 沃银网
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :javascript_includes
    = csrf_meta_tags
  %body
    = render 'shared/header'
    = bootstrap_flash

    .console-page-area
      .container
        .row.userwrapper
          .col-xs-3.wrapperbode
            =render "shared/sidebar"
          .col-xs-9.usermain
            = yield
    = cms_snippet_content('footer')