- resource = current_user
- resource_name = 'user'
.title
  %h2 修改登录密码
  %p 请定期修改密码，6-16个字符，建议使用字母加数字或符号的组合密码

  = form_tag( password_update_accounts_path, method: :put, :html => {class: "form-signin" }) do
    %h2.form-signin-heading Change your password
    = label :old_password, "Old Password"
    = password_field_tag :old_password, autofocus: true
    = label :password, "New password"
    = password_field_tag :password
    = label :password_confirmation, "Confirm new password"
    = password_field_tag :password_confirmation
    = submit_tag "Change my password"

